.img-dragon1 {
    position: absolute;
    top: 230px;
    right: -100px;
    max-width: 432px;
}

.img-dragon2 {
    position: absolute;
    top: 230px;
    left: 426px;
    max-width: 100px;
    opacity: 0.5;
}

.img-dragon3 {
    position: absolute;
    top: 230px;
    left: 62px;
    max-width: 318px;
    opacity: 0.8;
}

.img-dragon4 {
    position: absolute;
    top: 175px;
    right: 300px;
    max-width: 176px;
    opacity: 0.7;
}